div {
    width: 800px;
    height: 280px;
    background-color: rgb(154, 209, 223);
    padding: 20px;
    margin: 60px;
    border: 2px solid black;
    border-radius: 0.8cm;
    background-color: hsla(0, 100%, 50%, 1);
    text-align: center;
    float: right;

}

#container {
    display: flex;
}
body {
    background-color: hsla(0, 0%, 50%, 1)
}